<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/all.css"/>
    <title>Sapphire | 404</title>
</head>
<script>
    const isLoggedIn = localStorage.getItem("loggedin");
    if (!isLoggedIn) {
      location.replace("/");
    }
  </script>
<style>
    * {
        font-family: 'Poppins', sans-serif;
    }
    body {
        background-color: #11111b;
    }
    .error_text{
      align-content: center;
      color: #cdd6f4;
    }
  
</style>
<body>
    <%- include("partials/navbar") %>
    <center>
    <div class = "error_text" style="margin-top: 10%;">
       <h1 style="font-size: 75px;">404 | Not found</h1>
        <p>The page you were looking for doesn't exist. </p>
    </div>
</center>
</body>
</html>