<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapphire</title>
    <link rel="icon" href="./img/logo.png">
    <style>
        body {
            background-color: #000
        }
    </style>
    <script>
        function redirect() {
            let visited = localStorage.getItem("visited");
            if (!visited) {
                alert("Thank you for using Sapphire! Join the discord server if you want more links!");
                localStorage.setItem("visited", "true");
            }
            location.replace("/dashboard");
        }
    </script>
</head>
<body onload=redirect()>
</body>
</html>